* {
	margin: 0;
	padding: 0;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
}
body {
	display: flex;
	height: 100vh;
	background-color: #888;
	justify-content: center;
	align-items: center;
}
main {
	padding: 40px;
	width: 30%;
	height: auto;
	color: #fff;
	background-color: #333;
	border-radius: 10px;
}
h1 {
	font-size: 60px;
	text-align: center;
	margin-bottom: 20px;
}
label {
	display: block;
	text-align: center;
	font-weight: bold;
}
input {
	display: block;
	margin: 10px auto;
	padding: 10px;
	font-size: 25px;
	border-radius: 5px;
}
button {
	display: block;
	margin: 0 auto;
	width: 300px;
	height: 60px;
	border: none;
	font-size: 20px;
	margin-top: 20px;
	border-radius: 20px;
}
p {
	font-size: 20px;
	font-weight: bold;
	text-align: center;
	margin-top: 15px;
}
