* {
	margin: 0;
	padding: 0;
}
body {
	background-color: #333;
	font-family: 'Nunito', sans-serif;
}
.title {
	color: #fff;
	font-size: 48px;
	text-align: center;
	margin-top: 100px;
}
img {
	width: 400px;
	height: 240px;
}
.randomNation {
	display: block;
	margin: auto;
	padding: 20px;
	width: 400px;
	height: auto;
	background-color: #555;
	border-radius: 25px;
	margin-top: 80px;
}
.name {
	color: #fff;
	background-color: #777;
	font-size: 40px;
	text-align: center;
	border-radius: 10px;
}
.inp {
	display: flex;
	padding: 20px;
	justify-content: center;
	align-items: center;
	gap: 15px;
}
input {
	width: 500px;
	height: 60px;
	border: none;
	font-size: 20px;
	border-radius: 10px;
	text-align: center;
}
button {
	padding: 15px 20px;
	color: #fff;
	border: 2px solid white;
	font-size: 23px;
	cursor: pointer;
	background: none;
	border-radius: 10px;
}
.score {
	position: absolute;
	top: 10vh;
	right: 6vw;
	display: inline-block;
	padding: 20px;
	width: 300px;
	background-color: #777;
	border-radius: 20px;
}
.correct,
.incorrect {
	font-size: 18px;
	text-shadow: 0 0 4px black;
}
.correct {
	color: rgb(0, 242, 0);
	font-weight: bold;
}
.incorrect {
	color: red;
	font-weight: bold;
}
.points {
	font-size: 28px;
	font-weight: bold;
	text-align: center;
}
.end {
	position: absolute;
	top: 50%;
	left: 50%;
	display: none;
	width: 450px;
	background-color: #222;
	border-radius: 20px;
	transform: translate(-50%, -50%);
	min-height: 600px;
	box-shadow: 0 0 15px 20px #222;
	animation: appear 1s;
}
.endH1 {
	color: red;
	font-size: 50px;
	margin-top: 120px;
	margin-bottom: 50px;
	text-align: center;
	letter-spacing: 5px;
	font-family: 'Rubik Wet Paint';
}
.end p {
	font-size: 30px;
	margin-top: 10px;
	text-align: center;
}
.again {
	display: block;
	margin: auto;
	margin-top: 50px;
}
.history {
	position: absolute;
	top: 25vh;
	right: 6vw;
	display: inline-block;
	padding: 20px;
	width: 300px;
	background-color: #777;
	border-radius: 20px;
}
.ansBtn:hover {
	background-color: #666;
}
.ansBtn:active {
	background-color: #777;
}
strong {
	color: #fff;
}
p {
	color: #fff;
	text-shadow: 0 0 5px black;
}
.ansInfo {
	position: absolute;
	padding: 15px;
	font-size: 20px;
	text-align: center;
	border-radius: 15px;
	animation: slideIn 2s forwards;
}
.wrngAns {
	border: red 2px solid;
	box-shadow: 0 0 5px 5px red;
}
.corrAns {
	border: green 2px solid;
	box-shadow: 0 0 5px 5px green;
}
h3 {
	color: #fff;
	text-shadow: 0 0 5px black;
}
.gameButton {
	background-color: rgb(56, 186, 229);
	font-size: 15px;
	margin-top: 10px;
}
.historyFlag {
	width: 150px;
	height: 75px;
	display: inline-block;
}
.history i {
	position: absolute;
	top: 50%;
	left: 70%;
	translate: -50% -50%;
	font-size: 60px;
}
.history p {
	position: relative;
}
@keyframes slideIn {
	0% {
		top: -100px;
		left: 5%;
	}
	30% {
		top: 100px;
		left: 5%;
	}
	80% {
		top: 100px;
		left: 5%;
	}
	100% {
		top: -150px;
		left: 5%;
	}
}
